$website-width: 1280px;
$main-color: rgb(94, 94, 94);
$light-color: #fff;
$medium-color: #ff4;
$dark-color: #333;
$bg-image: url("../img/black.jpg");
$bg-image2: url("../img/group.jpg");
$bg-image3: url("../img/marketing.jpg");
$break-width: 600px;
