@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.container {
  max-width: $website-width;
  padding: 0 1.5em;
  margin: auto;
  overflow: hidden;
}
.lead {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.lead2 {
  padding-top: 5%;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}
.section-title {
  padding-top: 5%;
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  text-align: center;
  font-weight: 100;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.2rem;
  border-color: $main-color;
}
// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
  color: #f4f4f4;
}
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}
